@model IEnumerable<AaronColacoAsp.NETProject.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
    decimal OrderCost = 0;
}

<h1>My Cart </h1>


@{
    if (ViewBag.cartFull == true)
    {
        <h1>Your cart is Full Please Checkout or Remove Items</h1>
    }





}


<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
               Quantity
            </th>
          
            <th>
               Price
            </th>
            <th>
               Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var OrderItem in Model) {
        <tr>
             <td>
              @OrderItem.Items.Name
             </td>
            <td>
              @OrderItem.Quantity
            </td>
         
               <td>
             @OrderItem.Items.Price
            </td>
                <td>
                    @{
                        decimal CostOfItem = OrderItem.Items.Price * OrderItem.Quantity;
                        OrderCost = OrderCost + CostOfItem;                                              
                    }                                      
                    
                    <h3> $@CostOfItem </h3>

                    @{
                        if (OrderItem.Orders.StatusId == 1)
                        {
                            <form asp-action="Delete" style="margin-top:-13%; margin-left:40%">

                                <input type="hidden" name="ItemId" value="@OrderItem.ItemId"/>
                                <input type="submit" value="❌" />

                            </form>
                        }
                    }

                </td>
                

        </tr>
        }
        
    </tbody>
</table>



<h3>Order Cost @OrderCost</h3>

@{

    var firstOrder = Model.FirstOrDefault();

    if (firstOrder != null){
    
    
    if(firstOrder.Orders.StatusId == 1)
    {
        <a style="color:teal;" asp-controller="Orders" asp-action="CheckOut" asp-route-id="@ViewBag.OrderId">CheckOut</a>
    }
    else
    {
        <h2>
            Thank You for Your Order
        </h2>
    }

    }

    if (ViewBag.MaxQuantity == true)
    {
        <script>
            alert("The max you can order of that items is 8");

        </script>
    }


}


