@model IEnumerable<AaronColacoAsp.NETProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Page</h1>


@if (User.IsInRole("Admin"))
{
    <form asp-action="SearchByCustomer" asp-controller="Orders">


        <h1>Search cusotmer</h1>
        <input name="CustomerName" type="text" placeholder="Search Customer by name or email" />

        <input type="submit" class="btn btn-primary" />
    </form>


    <form asp-controller="Orders" asp-action="FilterOrdersByDate">

        <h3 style="color: forestgreen">Select Two Dates To See Orders In That Range</h3>


        <label for="Date 1">Date 1 </label>
        <input required type="datetime-local" name="Date1" placeholder="00/00/000" />

        <label for="date">Date 2 </label>
        <input required type="datetime-local" name="Date2" placeholder="00/00/000" />


        <input type="submit" />
    </form>
}


<table class="table">
    <thead>
        <tr>
            <th>
              Order Created
            </th>
            <th>
              Total Price
            </th>
            <th>
              Satatus 
            </th>
           
           
           
            <th></th>
        </tr>
    </thead>
   
    
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                    <a asp-controller="OrderItems" asp-action="OpenCart">See Items</a>
                </td>

            @if(item.Status.StatusId == 1){
                <td>
                    @Html.DisplayFor(modelItem => item.Customers.Email)
                        <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
        
                </td>
            }
            
          

            <td>
         
                    @if (item.StatusId != 1)
                    {
                        <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                    }
             

             
            </td>
                <td>
                 
                </td>
        </tr>
}
  

</tbody>
</table>
