@model IEnumerable<AaronColacoAsp.NETProject.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders Page</h1>


<form asp-action="SearchByCustomer" asp-controller="Order">


    <h1>Search cusotmer</h1>
    <input name="CustomerName" type="text" placeholder="Search Customer by name or email" />

    <input type="submit" class="btn btn-primary" />
</form>




<form asp-controller="Orders" asp-action="FilterOrdersByDate">

    <h1>Please Select Two Dates to see Orders From</h1>


    <label for="Date 1">Date 1 </label>
    <input required type="datetime-local" name="Date1" placeholder="00/00/000" />

    <label for="date">Date 2 </label>
    <input required type="datetime-local" name="Date2" placeholder="00/00/000" />


    <input type="submit" />
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
