 @model IEnumerable<AaronColacoAsp.NETProject.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Search" asp-controller="Items">

    <input name="SearchTerm" type="text" placeholder="Search An Item"/>
   
    <input type="submit" class="btn btn-primary"/>
</form>

<form asp-action="Filter" asp-controller="Items" >

    <label for="MinPrice">Min</label>
    <input name="MinPrice" type="number" placeholder="0" />
    <label for="MinPrice">Max</label>
    <input name="MaxPrice" type="number" placeholder="100" />


  <select id="Category" name="Category">
    <option value="sweet"> sweet</option>
    <option value="drinks"> drinks </option>
    <option value="souvenirs"> souvenirs</option>
    <option value="">All</option>

    <input type="submit" class="btn btn-primary" />

    </select>
  </form>



        
    
    <div class="ItemsPage">

        @foreach (var item in Model) {

        <div class="Item">

       
        
             <img class="ItemImgage" src="@item.ImageURL" />
             <br />

                 @Html.DisplayFor(modelItem => item.Name)

                <h1> @Html.DisplayFor(modelItem => item.Price)</h1>
           
                


                <p>  @Html.DisplayFor(modelItem => item.Categorys.Name) </p>


                <p> cost to produce   @Html.DisplayFor(modelItem => item.CostToProduce) </p>





                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            
        <br /> <br />
        </div>
        }

    </div>


<style>
    @@media only screen and (max-Width: 800px){
        .ItemsPage{
           
            grid-template-columns: 32% 32%;
        }
        

    }

    @@media only screen and (min-Width: 800px) {
        .ItemsPage {
            grid-template-columns: 32% 32% 32%;
 
        }
    }
.ItemsPage{
    display:grid;
    
    
}
image

.ImgageBox{
    
    height: fit-content;
    width:fit-content;
    margin:auto;
}

 .ItemImgage{
           width:75%;
           height: auto;
 }

</style>