 @model IEnumerable<AaronColacoAsp.NETProject.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create">Create New</a>




  
<form asp-action="Search" asp-controller="Items">

    <input name="SearchTerm" type="text" placeholder="Search An Item"/>
   
    <input type="submit" class="btn btn-primary"/>
</form>

<form asp-action="Filter" asp-controller="Items" >

    <label for="MinPrice">Min</label>
    <input name="MinPrice" type="number" placeholder="0" /><br />
    <label for="MinPrice">Max</label>
    <input name="MaxPrice" type="number" placeholder="100" />

    <input type="submit" class="btn btn-primary" />
  </form>

<h3>
    <a asp-action="FilterByCategroy" asp-route-id=4> <li>Pre Packed Boxes</li></a>
    <a asp-action="FilterByCategroy" asp-route-id=1> <li>Food</li></a>
    <a asp-action="FilterByCategroy" asp-route-id=2> <li>Drinks</li></a>
    <a asp-action="FilterByCategroy" asp-route-id=3> <li>Physcial Products</li> </a>
    <a asp-action="Index" > <li>See All</li> </a>


    
</h3>
  

    <div class="ItemsPage">
        
 

        @foreach (var item in Model) {




        <div class="Item">

       
      
        
             <img class="ItemImgage" src="@item.ImageURL" />
             <br /> 
                 @Html.DisplayFor(modelItem => item.Name)

                <h1> @Html.DisplayFor(modelItem => item.Price)</h1>
           
                


                <p>  @Html.DisplayFor(modelItem => item.Categorys.Name) </p>


                <p> cost to produce   @Html.DisplayFor(modelItem => item.CostToProduce) </p>





                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
            
        <br /> <br />
        </div>
        }

    </div>


<style>
    @@media only screen and (max-Width: 800px){
        .ItemsPage{
           
            grid-template-columns: 32% 32%;
            grid-column-gap: 40%;
            margin-left: 10%;
        
        }
        

    }

    @@media only screen and (min-Width: 800px) {
        .ItemsPage {
            grid-template-columns: 32% 32% 32%;
     
 
        }
    }
.ItemsPage{
    display:grid;
        grid-column-gap: 3%;
        margin-left: 20%;
        grid-row-gap: 3%;
}
items{
    width: fit-content;
}



 .ItemImgage{
           height: 55%;
           width: 75%;
           
 }

</style>