 @model IEnumerable<AaronColacoAsp.NETProject.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<div class="ItemsPage">
<h1>Shop & <br />Gift</></h1>


<div>
    @if(User.IsInRole("Admin")){
<a asp-action="Create">Create New</a>
    }





<form asp-action="Search" asp-controller="Items">

    <input style="border-width: 2px; border-style:solid; height:4vh; border-radius:2px;"name="SearchTerm" type="text" placeholder="Search Item"/>
            <input value="Search" style=" background-color: #245b73; color:white;" class="btn btn-outline-primary" type="submit" />

</form>
<br />

<form asp-action="Filter" asp-controller="Items" >


            <input style="width: 5%; border-width: 2px; border-style:solid; height:4vh; border-radius:2px;" name="MinPrice" type="number" placeholder="Min" max="300" min="0" />
   
            <input style="width: 5%; border-width: 2px; border-style:solid; height:4vh; border-radius:2px;" name="MaxPrice" type="number" placeholder="Max" />
            <input type="submit" Value="Filter" style="background-color: #245b68; color:white;" class="btn btn-outline-primary" />
  </form>
     <br />
    <a class="FilterButtons" asp-action="FilterByCategroy" asp-route-id=4> Pre Packed Boxes</a>
    <a class="FilterButtons"asp-action="FilterByCategroy" asp-route-id=1> Food</a>
    <a class="FilterButtons" asp-action="FilterByCategroy" asp-route-id=2> Drinks</a>
    <a class="FilterButtons" asp-action="FilterByCategroy" asp-route-id=3> Physcial Products</a>
    <a class="FilterButtons"  asp-action="Index"> See All</a>
</div>
  
 
   <div class="ItemsBox">
        
 

        @foreach (var item in Model) {




        <div class="Item">

       
      
        
             <img class="ItemImgage" src="@item.ImageURL" />
             <br /> 
                 @Html.DisplayFor(modelItem => item.Name)

                <h1> @Html.DisplayFor(modelItem => item.Price)</h1>
           
                


                <p>  @Html.DisplayFor(modelItem => item.Categorys.Name) </p>


                <form asp-controller="OrderItems" asp-action="AddToCart">

                 <input type="hidden" name="ItemId" value="@item.ItemId" />
                 <input type="submit" value="Add To Cart" class="AddToCart"/>
                </form>

                @if(User.IsInRole("Admin")){

                <p> cost to produce   @Html.DisplayFor(modelItem => item.CostToProduce) </p>





                <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                }
            
        <br /> <br />
        </div>
        }

    </div>
</div>


<style>
    @@media only screen and (max-Width: 800px){
        .ItemsPage{
           
            grid-template-columns: 32% 32%;
            grid-column-gap: 3%;
            margin-left: 10%;
            width: 96%;
        grid-row-gap: 1%;
     
        
        }
        

    }

    @@media only screen and (min-Width: 800px) {
        .ItemsBox {
            grid-template-columns: 30% 30% 30%;
            margin-top: -35%;
            margin-left: 28%;
        }

        ItemsPage{
            display: grid;
            grid-template-columns: 16% 75%;
        }

        .FilterButtons {
            display:block;
        }
    }

.ItemsBox{
    display:grid;
        grid-column-gap: 3%;
        grid-row-gap: 3%;
}
.ItemsBox{
    width: 80%;
    height: 70%;
}



 .ItemImgage{
           height: 60%;
           width: 70%;
           
 }

 .FilterButtons{
        text-decoration:none;
        color: #245b73;
        font-size: 2rem;
       
    }



.AddToCart{

font-size: 1rem;
color: #fff;
border: none;
 background-color: #245b73;
padding: 10px 30px;
border-radius: 50px;
transition : 1000ms;
align-items: center;
cursor: pointer;
}

  .AddToCart:hover {
transition : 1000ms;
padding: 10px 50px;
background-color: #1463c9;
border: solid 2px #0066cc;
}



</style>



<button class="btn"></button>


</style>