@model IEnumerable<AaronColacoAsp.NETProject.Models.Item>

@{
    ViewData["Title"] = "Index";
}
@{
    //display the following html content if the viewbag display PopUp equals ture
    if (ViewBag.displayPopUp == true){
    

        <div class="centeredPopUP">
            <h1>Your Item as been added to cart</h1>

            @ViewBag.Item.Name  <!--Display the Item Name from the View Bag-->
            $@ViewBag.Item.Price <!--Display the Item Price from the View Bag-->
            <!--two forms with buttons, one to go back to index the other to redrict to the open cart action-->
            <form asp-action="Index">
                <input type="submit" class="continue-shopping-btn active" value="Continue Shopping " />
            </form>
            <form asp-action="OpenCart" asp-controller="OrderItems">
                <input type="submit" value="Go to Cart" class="add-to-cart-btn" />
            </form>


        </div>
        <!--While pop up is displayed blur backgorund and hide add to cart buttons-->
        <style>

            .centeredPopUP {
                z-index: 1000;
                position: absolute;
                top: 5%;
                left: 20%;
                right: 20%;
                width: 60%;
                margin: auto;
                padding: 20px;
                text-align: center;
                background-color: #f0f0f0;
                border: 2px solid #333;
                border-radius: 10px;
                font-size: 24px;
                color: #333;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .ItemsPage {
                opacity: 20%
            }

            .centeredPopUP input[type ="submit"] {
                background-color: #333;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                margin-top: 20px;
            }

            .AddToCart, .FilterButtons {
                display: none;
            }

        </style>
    }

}
@{
    <!--If Cart is full display cart full and hide add to cart buttons-->
    if (ViewBag.MaxQuantiy == true)
    {
        <h1>Your Cart Is Full</h1>
        <style>
            .AddToCart {
                display: none;
            }
        </style>
    }
   
}



<div class="ItemsPage">
    <h1>Shop & <br />Gift</></h1>


    <div>
        @if (User.IsInRole("Admin"))//If the user is admin display
        {
            <a asp-action="Create">Create New</a>
        }




        <!--Form that passes the user input to the items Controller Search method-->
        <form asp-action="Search" asp-controller="Items">

            <input style="border-width: 2px; border-style:solid; height:4vh; border-radius:2px;" name="searchTerm" type="text" placeholder="Search Item" />
            <input value="Search" style=" background-color: #245b73; color:white;" class="btn btn-outline-primary" type="submit" />

        </form>
        <br />
        <!--Form that passes the user input to the items Controller filter method-->
        <form asp-action="Filter" asp-controller="Items">


            <input style="width: 5%; border-width: 2px; border-style:solid; height:4vh; border-radius:2px;" name="minPrice" type="number" placeholder="Min" max="300" min="0" />
            <input style="width: 5%; border-width: 2px; border-style:solid; height:4vh; border-radius:2px;" name="maxPrice" type="number" placeholder="Max" />
            <input type="submit" Value="Filter" style="background-color: #245b68; color:white;" class="btn btn-outline-primary" />
        </form>
        <br />
        <form asp-action="FilterByCategroy">
            @{
                //For each Cateogry stored in the view bag display an input in the form with the value being the category name.
                // When the user clicks a category the form will be sumbited to the Filter Action in the Items controller passing in the value into the method Cateogry parrameter.

                foreach (var Category in ViewBag.Category)
                {
                    <input type="submit" class="FilterButtons" name="Category" value="@Category.Name" />
                }
            }
            <!--Reaload's the home page-->
            <a class="FilterButtons" asp-action="Index">See All</a>
        </form>

    </div>


    <div class="ItemsBox">

        @{
            //If no product are found display no products and proivde the user a link to reload the items page.
            if (Model.FirstOrDefault() == null)
            {
                <h1> Products Not Found</h1>
                <a class="FilterButtons" asp-action="Index">See Products Here</a>
            }
        }

        @foreach (var item in Model)
        {




            <div class="Item">




                <img class="ItemImgage" src="@item.ImageURL" />


                <br />       <br />
                <h1 style="font-size:1rem;">@Html.DisplayFor(modelItem => item.Name)</h1>

                <h1> @Html.DisplayFor(modelItem => item.Price)</h1>




                <p>  @Html.DisplayFor(modelItem => item.Categorys.Name) </p>


                @if (!User.IsInRole("Admin"))
                {


                    <form asp-controller="OrderItems" asp-action="AddToCart">


                        <input type="hidden" name="itemId" value="@item.ItemId" />
                        <input type="submit" value="Add To Cart" class="AddToCart" />
                    </form>
                }

                @if (User.IsInRole("Admin"))//if the user is in the admin role display this content
                {

                    <p> cost to produce   @Html.DisplayFor(modelItem => item.CostToProduce) </p>





                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                }

                <br /> <br />
            </div>

        }

    </div>
</div>

<div>

    <form asp-action="Index" style="margin-left:88%; margin-top:8%; display:flex">
        @{
            // Loop through the number of pages creating a sumbit button, starting from 1 up to the value of ViewBag.Pages
            for (int i = 1; i < ViewBag.Pages; i++)
            {
                // Check if the current page number(i) is equal to the active page ViewBag.PageNumber
                @if (i == ViewBag.PageNUmber)
                {
                    // render a input submit button for the current page with value of i.
                    <input name="Page" value="@i" type="submit" style="background-color: black; color:white; text-align:center; padding: 5px 10px; border: none; border-radius: 3px; width:50%; margin:3%; text-align:center;" />


                }
                else
                {
                    // Render a submit button for the pthers page with a different styling form the active page with the value of i.
                    <input name="Page" value="@i" type="submit" style="background-color: teal; color:white; padding: 5px 10px; border: none; border-radius: 3px; width:35%; margin:3%; text-align:center;" />
                }
            }

            //When the user clicks a submit button it will pass the vlaue(page number ) to the index method.
        }
    </form>

</div>

<style>
    @@media only screen and (max-Width: 800px) {
        .ItemsPage {
            grid-template-columns: 32% 32%;
            grid-column-gap: 3%;
            margin-left: 10%;
            width: 96%;
            grid-row-gap: 0.8%;
        }
    }

    @@media only screen and (min-Width: 800px) {
        .ItemsBox {
            grid-template-columns: 30% 30% 30%;
            margin-top: -35%;
            margin-left: 28%;
        }

        ItemsPage {
            display: grid;
            grid-template-columns: 16% 75%;
        }

        .FilterButtons {
            display: block;
        }

        .ItemsBox {
            display: grid;
            grid-column-gap: 3%;
            grid-row-gap: 5%;
        }
    }


    .ItemsBox {
        width: 80%;
        height: 70%;
    }



    .ItemImgage {
        height: 60%;
        width: 70%;
        transition: all 2s;
    }

        .ItemImgage:hover {
            transform: scale(1.2);
        }

    .FilterButtons {
        text-decoration: none;
        color: #245b73;
        font-size: 2rem;
        border: none;
        background: none;
    }



    .AddToCart {
        font-size: 1rem;
        color: #fff;
        border: none;
        background-color: #245b73;
        padding: 10px 30px;
        border-radius: 50px;
        transition: 1000ms;
        align-items: center;
        cursor: pointer;
    }

        .AddToCart:hover {
            transition: 1000ms;
            padding: 10px 50px;
            background-color: #1463c9;
            border: solid 2px #0066cc;
        }

</style>



<button class="btn"></button>


</style>